<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Frontend Mentor | IP Address Tracker</title>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["ip_address_tracker.styles.css"]" />
    <link rel="stylesheet" href="@Assets["Media/landscape/tabletMedia.css"]" />
    <link rel="stylesheet" href="@Assets["Media/landscape/desktopMedia.css"]" />
    <link rel="stylesheet" href="@Assets["Media/portrait/tabletMedia.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" sizes="32x32" src="~/images/favicon-32x32.png" />
    <HeadOutlet />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="~/js/map_function.js" type="javascript"></script>
</body>

</html>
